//           ....  
//   ::::::::::::. 
//   ::::::::::::: 
//     ...   ..    
//     :::. ::::   
//    ::::: ::::.  
//    ::::. :::::

@import "compass"
@import "config"

//Import des sections principales

// *****************************************************************************************************************************************
// ** BASE
// *****************************************************************************************************************************************

@import "normalize"

// *****************************************************************************************************************************************
// ** Pattern
// *****************************************************************************************************************************************

%signup_form
  width: 70%
  padding: 5%
  margin: 20px auto
  background-color: $sable
  color: $bois
  border-radius: 8px
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4)

  label
    font-size: 18px
    line-height: 1.778em
    font-weight: 100
    
  input
    background-color: $bois
    color: $sable
    border: none
    border-radius: 8px
    font-size: 13px
    line-height: 18px*$ratio
    font-weight: 100
    width: 90%
  
  input[type="text"], input[type="email"]
    padding: 0 6px

// *****************************************************************************************************************************************
// ** Module
// *****************************************************************************************************************************************


// *****************************************************************************************************************************************
// ** Layout
// *****************************************************************************************************************************************

body
  background: $sapin

// *****************************************************************************************************************************************
// ** Page
// *****************************************************************************************************************************************

.page_signin

.logo_wrapper
  position: relative
  left: 50%
  margin-left: -25%
  background: $sable
  border-radius: 1000px
  width: 50%
  height: 0
  padding-bottom: 50%

.action_wrapper

.signin_wrapper
  margin: 0 auto
  width: 50%

.bt-hiw
  background: $coriandre
  color: $bois
  font-family: $font
  font-size: 16px
  border: none
  border-radius: 5px
  height: 1.778 * 1.778em
  margin: 0 auto
  display: block


.img_profile_wrapper
  background: $sable
  border-radius: 1000px
  width: 50%
  height: 0
  padding-bottom: 50%
  margin: 140px auto 100px
  +transition(300ms)
  +transform(scale(.8) translateY(-140px))




.signup_profile_img_wrapper
  @extend .logo_wrapper
  overflow: hidden
  +transform(scale(1) translateY(100px))
  img
    width: 100%

.signup_profile_welcome
  color: $coriandre
  text-align: center
  opacity: 0

.signup_profile_infos
  @extend %signup_form
  opacity: 0

.signup_profile_description
  font-size: 13px

.signup_confirm
  background: $bois
  color: $sable
  border: none
  border-radius: 8px
  box-shadow: inset 0 -5px 0 0 #000
  height: 48px
  padding: 0 12px
  margin: 20px auto 0
  font-size: 15px
  &:focus
    outline: 0px
    margin-top: 25px
    height: 43px
    box-shadow: inset 0 0px 0 0 #000






.signup_organisation_message
  color: $coriandre
  width: 75%
  margin: 0 auto

.signup_organisation_message_oh
  font-size: 48px
  line-height: 1.778em

.signup_organisation_infos
  @extend %signup_form








.contactListWrapper
  height: 1000px
  background: $creme
  padding: 1%
  padding-top: 5%

.contact_wrapper
  width: 31%
  margin-right: 2%
  float: left

.contact_img_wrapper
  width: 100%
  height: 0
  padding-bottom: 100%
  border-radius: 1000px
  overflow: hidden

.contact_img
  width: 140%
  margin-left: -20%

.contact_firstname
  font-size: 13px
  color: $coriandre
  font-weight: 100
  text-align: center
  display: block