<div class="logo_wrapper">
  <img alt="logo" src="">
</div>

<div class="action_wrapper">
  
  <div class="signin_wrapper">
    <span
      class="g-signin"
      data-callback="signinCallback"
      data-clientid="758131495070-u8aaihaqldaai7bicpnl63e3u5on302s.apps.googleusercontent.com"
      data-cookiepolicy="single_host_origin"
      data-requestvisibleactions="http://schemas.google.com/AddActivity"
      data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.google.com/m8/feeds https://www.googleapis.com/auth/contacts.readonly">
    </span>
  </div>

  <button class="bt-hiw">Comment ça marche ?</button>

</div>