<div class="signup_profile_img_wrapper">
  <img class="signup_profile_img" src="<%= photo %>" />
</div>

<div class="signup_profile_infos">
  
  <h1>Mon Profil</h1>

  <div class="signup_profile_email_wrapper">
    <label>Prénom</label>
    <input type="text" value="<%= firstname %>" />
  </div>

  <div class="signup_profile_email_wrapper">
    <label>Nom</label>
    <input type="text" value="<%= lastname %>" />
  </div>

  <div class="signup_profile_email_wrapper">
    <label>Email</label>
    <input type="email" value="<%= email %>" />
  </div>

  <!-- <p class="signup_profile_description">Seules les personnes disposant d’un email en <i>@<%= domaine %></i> seront autorisées à rejoindre ce groupe.</p> -->

  <button class="signup_confirm">Valider votre profil</button>
  
</div>
