<div class="signup_organisation_message">
  <span class="signup_organisation_message_oh">Hey !</span>
  
  <p class="signup_organisation_message_welcome">Bienvenue</p>

  <p class="signup_organisation_message_description">Vous êtes le premier de votre organisation à rejoindre notre application.</p>
</div>

<div class="signup_organisation_infos">
  
  <h1>Mon Organisation</h1>
  
  <div class="signup_organisation_email_wrapper">
    <label>Nom</label>
    <input type="text" value="" />
  </div>

  <div class="signup_organisation_email_wrapper">
    <label>Email</label>
    <input type="email" value="<%= domaine %>" disabled/>
  </div>
  
  <p class="signup_organisation_description">Seules les personnes disposant d’un email en <i>@<%= domaine %></i> seront autorisées à rejoindre ce groupe.</p>

  <button class="signup_confirm">Créer</button>

</div>
